<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>blue thoughts</title>
  </head>
  <header class="v-header top-container">
    <div class="fullscreen-video-wrap">
        <video muted loop autoplay>
          <source src="static/assets/bluethoughts.mp4" type="video/mp4">
        </video>
      </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1> blue thoughts</h1>
      <p>Feeling lonely? Down? Sad? Confused? Share your thoughts and read about people's blue thoughts.</p>
      <a href="{{ url_for('submit')  }}" class="btn">Share your blue thoughts..</a>
      <a href="{{ url_for('explore')  }}" class="btn">See what others have shared..</a>
      <br>
      <p>
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div>
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
      </p>
    </div>
  </header>
    <section class="section section-a">
    <div id="video-container">
      <h2 style="font-family: 'Kalam', cursive;">Behind the Scenes</h2>
      <p><iframe width="1260" height="560" src="https://www.youtube-nocookie.com/embed/SMt5gngDNXc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    </div>
    <p>

    </p>
  </section>
  <section id="resources-section">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="static/assets/logo1.png" height="200px" width="200px">
          </div>
          <div class="contentBx">
            <h2>National Suicide Prevention Hotline</h2>
            <br>
            <p>If you or someone you know is struggling emotionally or having a hard time, please call the National Suicide Prevention Lifeline
              <br>1-800-273-8255.
              <br>It’s important to take care of yourself. So please reach out for support.
            </p>
            <a href="https://suicidepreventionlifeline.org/"><span>More information...</span></a>
            </div>
          </div>
          <div class="card">
            <div class="imgBx">
              <img src="static/assets/logo2.jpg" height="275px" width="250px">
            </div>
            <div class="contentBx">
              <h2>Talk to your friends or family</h2>
              <br>
              <p>Find someone you can trust, whether it be a family of friend. Let this person know how you feel so they can help you.
              <br>If you know someone who is struggling, please talk to them.
              </p>
              <a href="https://www.mentalhealth.org.uk/your-mental-health/looking-after-your-mental-health/talk-about-your-feelings"><span>More information...</span></a>
              </div>
            </div>
            <div class="card">
              <div class="imgBx">
                <img src="static/assets/logo3.png" height="200px" width="200px">
              </div>
              <div class="contentBx">
                <h2 >World Mental Health Day</h2>
                <br>
                <p>
                  It is an international day for global mental health education, awareness and advocacy against social stigma.
                  <br>
                  <br>Date: October 10th
                  <br>
                  <br>Mark it on you calendar! Tell your friends!
                </p>
                <a href="https://www.mhanational.org/mental-health-month"><span>More information...</span></a>
                </div>
              </div>
    </section>
    <section class="message-section">
    </section>
</html>
